h1{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-family : Helvetica, sans-serif;
    border-collapse: collapse;
    
}

th{
    background-color: #C1F7ED;
    font-weight: 800;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    color: White;
    background-color: #4A9A8B;
}
